---
layout: default-sans-container
---
<!-- sans-container so that the jumbotron spans the entire page width -->
<div class="home jumbotron">
	{% include container-start.html %}
		<h1>About Me</h1>
	{% include container-end.html %}
</div>

{% include container-start.html %}
	<p>My name is <strong>Sunny Rodriguez</strong>. I'm a 25-year old software developer from Seattle, Washington.</p>

	<p>Most recently known for working at Microsoft on the Membership team. There I worked as a server-side developer to the redesigned account management portal @ <a href="https://accounts.microsoft.com/">accounts.microsoft.com</a>. Our team was responsible for an ASP.NET Web API service that handles millions of requests per month.</p>

	<h3>Background</h3>
	<p>	I graduated from the University of Washington with a major in Electrical Engineering. While in university, I was also an undergraduate researcher on MobileASL, which was developing video compression for sign language. I also took internships every summer break: one at Hewlett-Packard as a server hardware intern, and two at Microsoft on the Windows Phone Services team.</p>

	<h3>Hobbies</h3>
	<p>Outside of work I enjoy tinkering and building things. I've been 3D modeling and printing objects with my personal 3D printer. If I'm not building something, I'm most likely riding my bike around Seattle. And if I'm not riding, I'm volunteering at <a href="http://bikeworks.org/">Bike Works</a>, helping restore bikes for kids and the greater community.</p>
{% include container-end.html %}