---
layout: default
permalink: /resume
title: Resume
---
<!-- todo: make these static pages "pages" type by setting layout to page -->
<div class="alert alert-info alert-dismissible text-center hidden-print" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<a href="/assets/Rodriguez_Resume.pdf"><strong>Print!</strong> Available in PDF form here.</a>
</div>

<!-- todo: use appropriate tags here. mask email to avoid spam bots -->
<header class="contact-info">
	<h1>Sunny Rodriguez</h1>
	<p>Seattle, WA ● (360) 213-6473 ● sunny.rodriguez@outlook.com<p>
	<p>Driven software engineer skilled in server-side development within the mobile industry</p>
</header>

<article>
	<h2>Education</h2>
	<section>
		<header class="row">
			<div class="col-sm-8">
				<h3>University of Washington <small>Seattle, WA</small></h3>
			</div>
			<p class="col-sm-4">Graduated: June 2013</p>
		</header>
		<p>Bachelor of Science in Electrical Engineering</p>
	</section>
</article>

<article>
	<h2>Computer Skills</h2>
	{% assign languages ="C#, Java, Python, PHP, HTML/CSS, JavaScript, SQL" | split: ", " %}
	<p>Languages: 
	{% for language in languages %}
		<span class="label label-default">{{ language }}</span>
	{% endfor %}
	</p>

	{% assign platforms ="ASP.NET Web API/MVC, IIS, WCF, Azure, Windows Phone, Android" | split: ", " %}
	<p>Platforms: 
	{% for platform in platforms %}
		<span class="label label-default">{{ platform }}</span>
	{% endfor %}
	</p>

	{% assign softwares ="Visual Studio, Team Foundation Server, Git, Eclipse" | split: ", " %}
	<p>Software: 
	{% for software in softwares %}
		<span class="label label-default">{{ software }}</span>
	{% endfor %}
	</p>
</article>

<article>
	<h2>Experience</h2>
	<section>
		<header class="row">
			<div class="col-sm-8">
				<h3>Membership SDE <small>Member Service Team</small></h3>
				<p>Microsoft, Redmond, WA</p>
			</div>
			<p class="col-sm-4">September 2013-March 2016</p>
		</header>
		<ul>
			<li>Designed a high-throughput middle layer service to wrap dependencies on partner services</li>
			<li>Managed a cross-team relationship with external partners to design and develop a new API</li>
			<li>Integrated the Microsoft standard security solution for server and user authentication</li>
			<li>Developed a data-access layer for Azure Tables to facilitate access to persistant storage</li>
			<li>Designed an HTTP pipeline for tracking and monitoring request executions</li>
		</ul>
	</section>
	<section>
		<header class="row">
			<div class="col-sm-8">
				<h3>Undergrad Student Researcher <small>MobileASL</small></h3>
				<p>University of Washington, Seattle, WA</p>
			</div>
			<p class="col-sm-4">November 2009–June 2013</p>
		</header>
		<ul>
			<li>Co-authored ASSETS 2010 & 2013 research paper submissions
				<ul>
					<li><a href="http://mobileasl.cs.washington.edu/publications.html">2013. A Web-Based Intelligibility Evaluation of Sign Language Video Transmitted at Low Frame Rates and Bitrates</a></li>
					<li><a href="http://mobileasl.cs.washington.edu/publications.html">2010. A Web-Based User Survey for Evaluating Power Saving Strategies for Deaf Users of MobileASL</a></li>
				</ul>
			</li>
			<li>Developed a PHP platform to conduct web-based user studies for video quality</li>
			<li>Ported open-source IMSDroid/Doubango project to HTC Thunderbolt</li>
		</ul>
	</section>
	<section>
		<header class="row">
			<div class="col-sm-8">
				<h3>Windows Phone SDE Intern <small>SoHo</small></h3>
				<p>Microsoft, Redmond, WA</p>
			</div>
			<p class="col-sm-4">June 2012–September 2012</p>
		</header>
		<ul>
			<li>Worked with another intern to design a WiFi data collection service to boost SoHo data size</li>
			<li>Created network speed test app on Windows 8 platform as demonstration of service</li>
			<li>Published data to Microsoft-internal cloud-based big data platform</li>
		</ul>
	</section>
	<section>
		<header class="row">
			<div class="col-sm-8">
				<h3>Windows Phone Explorer Intern <small>SeattleRace</small></h3>
				<p>Microsoft, Redmond, WA</p>
			</div>
			<p class="col-sm-4">June 2011–September 2011</p>
		</header>
		<ul>
			<li>Underwent full development cycle of a location-based game on WP7 OS</li>
			<li>Designed game UI, developed MPN web service, and tested game initialization interface</li>
		</ul>
	</section>
</article>

<article>
	<h2>Projects</h2>
	<section>
		<h3>SmartFridge Capstone</h3>
		<p>An embedded project with the goal of reducing household foodwaste</p>
	</section>
	<section>
		<h3>Space Craft Control System</h3>
		<p>A control system involving various peripherals such as proximity and temperature sensors, speakers, input keyboard, and LCD display</p>
	</section>
</article>